/** biome-ignore-all lint/suspicious/noUnknownAtRules: <explanation> */
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}
